name: CI

on:
  push:
    branches:
      - master
      - ci-*
  pull_request:
    branches: [ master ]

jobs:
  buildntest:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest , macos-latest, windows-latest ]
        include:
          - os: ubuntu-latest
            preset: ci-linux
          - os: macos-latest
            preset: ci-macos
          - os: windows-latest
            preset: ci-windows

    runs-on: ${{ matrix.os }}

    steps:
      - name: checkout sources
        uses: actions/checkout@v3

      - name: setup cmake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "~3.25.0"
          ninjaVersion: "^1.11.1"

      # get deps linux
      - name: install fmt (linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt install -y libfmt-dev

      # get deps macos
      - name: install fmt (macos)
        if: matrix.os == 'macos-latest'
        run: |
          env HOMEBREW_NO_AUTO_UPDATE=1 brew install fmt

      # get deps windows
      - name: set msvc toolchain (windows)
        if: matrix.os == 'windows-latest'
        uses: ilammy/msvc-dev-cmd@v1

      - name: setup vcpkg (windows)
        if: matrix.os == 'windows-latest'
        uses: lukka/run-vcpkg@v11
        with:
          # hash for tag 2023.04.15
          vcpkgGitCommitId: "501db0f17ef6df184fcdbfbe0f87cde2313b6ab1"

      # run cmake
      - name: configure
        run: |
          cmake --preset ${{ matrix.preset }}

      - name: build
        run: |
          cmake --build --preset ${{ matrix.preset }}

      - name: test
        run: |
          ctest --preset ${{ matrix.preset }}
